<footer>
  <div class="f-info">
    
    <div class="f-info-socials">
      <a href="https://x.com/alok_0421"><i class="fa-brands fa-square-twitter"></i></a>
      <a href="https://www.linkedin.com/in/alok-kumar-318583366"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-youtube"></i></a>
      <a href="https://github.com/alok-kumar0421/StayGlory-Project" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>

    <div class="f-info-brand">
      &copy; 2025 StayGlory Pvt. Ltd. | Built by Alok Kumar
    </div>

    <div class="f-info-link">
      <a href="https://dainty-daifuku-fea31a.netlify.app/">About</a>
      <a href="/">Contact</a>
      <a href="/">Privacy</a>
      <a href="/">Terms</a>
    </div>

    <div class="f-info-meta">
      Powered by Render · MongoDB Atlas
    </div>

  </div>
</footer>
