<style>
/* BRAND */
.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.brand i {
  color: #008080;
  font-size: 1.9rem;
}

.brand-name {
  font-size: 1.4rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: #222;
}

.brand-name span {
  color: #008080;
}

/* SEARCH */
.all-search {
  background: #f1f3f5;
  border-radius: 30px;
  padding: 0.25rem;
  width: 420px;      
  max-width: 90%;

}

.input-search {
  border-radius: 30px;
  padding: 0.55rem 1.2rem;
  border: none;
  outline: none;
  font-size: 1rem;
  width:100%;
}

.input-search:focus {
  box-shadow: none;
}

.btn-search {
  background-color: #008080;
  color: white;
  border-radius: 30px;
  padding: 0.4rem 1.2rem;
  font-weight: 600;
  border: none;
}

.btn-search:hover {
  background-color: #006666;
  color: white;
}

/* NAV LINKS */
.nav-link {
  font-weight: 500;
  color: #333 !important;
}

.nav-link:hover {
  color: #008080 !important;
}
</style>


<nav class="navbar navbar-expand-md bg-white border-bottom sticky-top shadow-sm">
  <div class="container-fluid">

    <!-- BRAND -->
    <a class="navbar-brand brand" href="/listings">
      <i class="fa-solid fa-hotel"></i>
      <span class="brand-name">Stay<span>Glory</span></span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <!-- CENTER SEARCH -->
      <div class="mx-auto all-search">
        <form class="d-flex" role="search">
          <input class="form-control input-search" type="search" placeholder="Search destinations" />
          <button class="btn btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>

      <!-- RIGHT LINKS -->
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Glory your home</a>

        <% if(!currUser){ %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>

        <% if(currUser){ %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>

    </div>
  </div>
</nav>
